
__pycache__/ellipse_projection_v1.cpython-311.pyc
.DS_Store
__pycache__/data_analysis_v1.cpython-311.pyc
__pycache__/data_analysis_v2.cpython-311.pyc
__pycache__/ellipse_projection_v2.cpython-311.pyc
__pycache__/data_analysis_v3.cpython-311.pyc
__pycache__/data_analysis_v3.cpython-311.pyc
__pycache__/data_analysis_v3.cpython-311.pyc
__pycache__/calculator.cpython-311.pyc
__pycache__/calculator.cpython-311.pyc
__pycache__/calculator.cpython-311.pyc
__pycache__/calculator.cpython-311.pyc
__pycache__/gui.cpython-311.pyc
